body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  display: none;

  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.slideout-right-menu {
  position: fixed;
  left: auto;
  right: 0;
}

.slideout-slide-menu {
  left: -256px;
  display: block;
  z-index: 10;
  will-change: transform;
}

.slideout-slide-menu.slideout-right-menu {
  right: -256px;
  left: auto;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
