body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll; /* needs to be set to scroll for -webkit-overflow-scrolling: touch; to work */
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  height: 100%; /* In certain cases where the .slideout-panel class is applied, that element also needs to be set to height: 100%; to prevent scrolling the .slide-panel element when the .slideout-menu is open/active. */
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
