body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 3;
  display: block;
  will-change: transform;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.slideout-menu-left {
  left: -256px;
}

.slideout-menu-right {
  right: -256px;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
  /*touch-action: pan-y;
  -ms-touch-action: pan-y;*/
}

.slideout-dimmer {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.slideout-open .slideout-dimmer {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
