html,
body {
  font: 100%/1.4em "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  color: #333333;
  -webkit-text-size-adjust: none;
}

.menu {
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}

.menu,
.menu a {
  color: #fff;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px 0 20px 60px;
  background: url('github.png') no-repeat 15px 15px;
  background-size: 32px;
}

.menu-header-title {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}

.menu-section {
  margin: 25px 0;
}

.menu-section-title {
  text-transform: uppercase;
  color: #85888d;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin:0;
}

.menu-section-list {
  padding:0;
  margin: 10px 0;
  list-style:none;
}

.menu-section-list a {
  display: block;
  padding: 10px 20px;
}

.menu-section-list a:hover {
  background-color: #5ca743;
  text-decoration: none;
}

.menu-footer {
  border-top: 1px solid #323438;
  padding: 20px 0 20px 50px;
  background: url('mango.png') no-repeat 15px 20px;
  background-size: 24px;
  opacity: .3;
}

.panel {
  height: 800px;
}

.panel-header {
  padding: 15px 10px;
  background-color: #f4f5f6;
  border-bottom: 1px solid #e2e5e9;
}

.panel-header h1 {
  display: inline-block;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.35em;
  margin-left: 75px;
}

.btn-hamburger {
  border: none;
  background: transparent;
  font-size: 2em;
  color: #878787;
  border-right: 1px solid #e2e5e9;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
}

.panel-section {
  padding: 10px 20px;
}


.demo-footer {
  margin: 30px auto 10px;
  text-align: center;
}

.heart {
  font-style: normal;
  font-weight: 500;
  color: #c0392b;
  text-decoration: none;
}

#github-button {
  display: block;
  margin: 20px auto 0;
  position: relative;
  left: 40px;
}

.github-buttons {
  text-align: center;
  margin: 1em 0;
}