html,
body {
  font: 100%/1.4em "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  color: #fff;
  -webkit-text-size-adjust: none;
}

body,
.panel {
  background-color: #4B5;
}

.menu {
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}

a {
  color: #fff;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px 0 20px 60px;
  background: url('github.png') no-repeat 15px 15px;
  background-size: 32px;
}

.menu-header-title {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}

.menu-section {
  margin: 25px 0;
}

.menu-section-title {
  text-transform: uppercase;
  color: #85888d;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin:0;
}

.menu-section-list {
  padding:0;
  margin: 10px 0;
  list-style:none;
}

.menu-section-list a {
  display: block;
  padding: 10px 20px;
}

.menu-section-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.menu-footer {
  border-top: 1px solid #323438;
  padding: 20px 0 20px 50px;
  background: url('mango.png') no-repeat 15px 20px;
  background-size: 24px;
  opacity: .3;
}

.panel {
  text-align: center;
  padding-top: 50px;
}

.title {
  font-size: 3em;
  line-height: 1em;
  margin: 20px 0;
}

.subtitle {
  font-size: 1.4em;
  line-height: 1.2em;
  margin: 25px 0;
}

.panel-actions {
  margin: 20px 0;
}

.btn {
  font-size: 12px;
  text-decoration: none;
  margin-right: 10px;
  padding: 9px 14px;
  border: 2px solid #fff;
  border-radius: 4px;
  line-height: 26px;
  display: inline-block;
  text-transform: uppercase;
}

.iphone {
  background: url('iphone.png') no-repeat;
  position: relative;
  margin: 0 auto;
  background-size:100%;
  width: 290px;
  height: 610px;
}

.iphone img {
  position: absolute;
  top: 89px;
  left: 28px;
  height: 428px;
  max-width: 100%;
}

.btn-hamburger {
  border: none;
  background: transparent;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.btn-hamburger:after {
  content: "(open slideout)";
  font-size: 14px;
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
}

/**
 * Medium Screens
 */
@media all and (min-width:40em) {
  .title {
    font-size: 6em;
  }

  .subtitle {
    font-size: 1.5em;
    margin: 25px 0 30px;
  }

  .btn {
    font-size: inherit;
  }

  .iphone {
    width: 384px;
    height: 820px;
  }

  .iphone img {
    top: 118px;
    left: 37px;
    height: auto;
  }
}

/**
 * Large Screens
 */
@media all and (min-width: 54em) {
  .panel-header,
  .panel-demo {
    display: inline-block;
    vertical-align: top;
  }

  .panel-header {
    width: 53%;
    text-align: left;
    margin-right: 20px;
    margin-top: 90px;
  }

  .title {
    margin: 0px 0 20px;
  }

  .iphone {
    width: 300px;
    height: 630px;
  }

  .iphone img {
    top: 92px;
    left: 28px;
    height: 445px;
  }

}

.panel-footer {
  margin: 10px auto;
}

.heart {
  font-style: normal;
  font-weight: 500;
  color: #c0392b;
  text-decoration: none;
}

#github-button {
  display: block;
  margin: 20px auto 0;
  position: relative;
  left: 40px;
}

.github-buttons {
  text-align: center;
  margin: 1em 0;
}